<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='common.css')}}">
</head>

<body class="bg-theme1">
    <div class="col-11 mx-auto d-flex justify-content-between align-items-center py-3">
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="/projects/{{task_group.version.project_id}}">
                    <h2>{{task_group.version.project.name}}</h2>
                </a>
            </li>
            <li class="list-inline-item">
                <h2>\</h2>
            </li>
            <li class="list-inline-item">
                <a href="/versions/{{task_group.version_id}}">
                    <h2>{{task_group.version.name}}</h2>
                </a>
            </li>
            <li class="list-inline-item">
                <h2>\</h2>
            </li>
            <li class="list-inline-item">
                <a href="/task_groups/{{task_group.id}}">
                    <h2>{{task_group.name}}</h2>
                </a>
            </li>
        </ul>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <h2 class="text-danger">{{(task_group.end_date - task_group.end_date.today()).days}} Days</h2>
            </li>
            <li class="list-inline-item">
                <a href="/projects" class="btn btn-dark">Home</a>
            </li>
            <li class="list-inline-item">
                <a href="/logout" class="btn btn-secondary">Logout</a>
            </li>
        </ul>
    </div>

    <div class="col-11 mx-auto">
        <div style="width:600px;">
            <div class="border border-2 border-danger bg-lightred px-1 pt-1 text-center">
                <form action="/tasks/{{task.id}}/submit" class="m-0" method="post">
                    <input type="text" name="title" placeholder="title / short description of this task" class="w-100" required value="{{task.title}}">
                    <div class="d-flex">
                        <div class="col">
                            <label for="assigned_user_id">assigned to:</label>
                            <select name="assigned_user_id" id="assigned_user_id">
                                <option value="0" {{"selected" if not task.assigned_user_id else ""}}>(none)</option>
                                {% for participant in participants %}
                                <option value="{{participant.id}}" {{"selected" if task.assigned_user_id == participant.id else ""}}>{{"You" if participant.id==session['user_id'] else participant.first_name + " " + participant.last_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <select name="priority" class="">
                                <option value="4" {{"selected" if task.priority == 4 else ""}}>Top Priority</option>
                                <option value="3" {{"selected" if task.priority == 3 else ""}}>High Priority</option>
                                <option value="2" {{"selected" if task.priority == 2 else ""}}>Medium Priority</option>
                                <option value="1" {{"selected" if task.priority == 1 else ""}}>Low Priority</option>
                            </select>
                        </div>
                    </div>
                    <div class="border-top border-danger border-2">
                        <textarea name="description" class="w-100" style="height: 50vh;"
                            placeholder="(optional) more details about this task, notes, complications, etc.">{{task.description}}</textarea>
                    </div>
                    <div class="d-flex justify-content-around border-top border-danger border-2">
                        <div class="col">
                            <label for="status">status:</label>
                            <select name="status" id="status">
                                <option value="1" {{"selected" if task.status == 1 else ""}}>To Do</option>
                                <option value="2" {{"selected" if task.status == 2 else ""}}>Implementing</option>
                                <option value="3" {{"selected" if task.status == 3 else ""}}>Ready to Test</option>
                                <option value="4" {{"selected" if task.status == 4 else ""}}>Testing</option>
                                <option value="5" {{"selected" if task.status == 5 else ""}}>Completed</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="progress">progress:</label>
                            <input type="range" name="progress" id="progress" value="{{task.progress}}" style="background: #6c757d">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>